/* 全局样式表 */
html,body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url(../bgc.jpg); */
    min-width: 1500px;
    
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.el-table{
    margin-top:20px;
}
.el-pagination{
    margin-top: 15px;
}
.ql-editor{
    min-height:500px;

}
.el-pagination{
    text-align:center;
}

